---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yml
  - service.yml
  - deployment.yml

configMapGenerator:
  - name: hcloud-exporter
    literals: []

secretGenerator:
  - name: hcloud-exporter
    literals: []

images:
  - name: hcloud-exporter
    newName: quay.io/promhippie/hcloud-exporter
    newTag: latest@sha256:4b0b402dc8f0446145958643504d076756ad656ea63a3e847a452f90f7aee60e

...
